.city{
    display: inline-block;
    align-content: center;
    width: 300px;
    margin: auto;
    padding: 3vh;
}
#cityInput{
    padding: 3vh;
    margin: auto;
}
#findBtn{
    margin: auto;

}
button{
    padding: 3vh;
}
