.city {
  display: inline-block;
  align-content: center;
  width: 300px;
  margin: auto;
  padding: 3vh;
}

#cityInput{
    color: #333;
    font-size: 1.5rem;
	margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    display: block;
}

#findBtn {
  margin: auto;
}

button {
  padding: 3vh;
}

#canvas-basic {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

#content {
  z-index: 10;
  position: relative;
  background-color: white;
  color: black;
  width: 200px;
  height: 300px;
}
#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 50%;
}

.card {
  border-radius: 10px;
}
a {
    color: rgb(240, 171, 44);
  }
  a:hover {
    color: rgb(240, 171, 44);
  }

  #header {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 3px white;
  }

  .subtitle {
      color: white;
  }

#map {
  border-radius: 10px;
  border: 1rem;
  border-style: solid;
  border-color: white;
}
