.city{
    display: inline-block;
    align-content: center;
    width: 300px;
    margin: auto;
    padding: 3vh;
}
#cityInput{
    padding: 3vh;
    margin: auto;
}
#findBtn{
    margin: auto;

}
button{
    padding: 3vh;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

